<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>Elias-Magdaleno.Manga-Reader.libraryRefresh</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.mangacarta.cbz</string>
			<key>UTTypeDescription</key>
			<string>MangaCarta Comic Book ZIP</string>
			<key>UTTypeConformsTo</key>
			<array><string>public.zip-archive</string></array>
			<key>UTTypeTagSpecification</key>
			<dict><key>public.filename-extension</key><array><string>cbz</string></array></dict>
		</dict>
	</array>
	<key>MALClientID</key>
	<string>$(MAL_CLIENT_ID)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Elias-Magdaleno.Manga-Reader.oauth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mangareader</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
</dict>
</plist>
